langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
python-dotenv
openai
langchain-groq
streamlit
sentence-transformers
chromadb
langchain-groq>=1.1.1
langchain
pymupdf
python-dotenv
scikit-learn
